<div class="modal-dialog"><div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
		<h3 class="modal-title">Industry Segments</h3>
	</div>
	<div class="modal-body">
		<table class="table table-condensed" style="font-size:12px;">
			<tr class="active">
				<th colspan="3">Media &amp; Entertainment</th>
			</tr>
			<tr class="info">
				<td width="150">Sub-segment</td>
				<td width="380">Example Companies</td>
				<td width="204">Description</td>
			</tr>
			<tr>
				<td>Gaming </td>
				<td width="380">Nintendo, Sega, Vivendi Universal, EA, Activision, T2, Sony, XBox360, GameStop</td>
				<td width="204">Create and sell video game hardware, software and online content </td>
			</tr>
			<tr>
				<td>Print Publishers </td>
				<td width="380">Wall Street Journal, The Hearst Corporation, Meredith, Reader's Digest, AARP, McGraw Hill, National Geographic, Scholastic, Chicago Tribune, The New York Times, Yellow Pages, Random House</td>
				<td width="204">Create, publish, and distribute content via newspapers, magazines books, and periodicals </td>
			</tr>
			<tr>
				<td>Studio and Content Creators </td>
				<td width="380">NBC, NCC, Oprah, Sony, The Walt Disney Company, ESPN, 20th Century FOX, VIACOM, Warner Brothers</td>
				<td width="204">Create and package video content, movies, news, games, and entertainment </td>
			</tr>
			<tr>
				<td>Distributors </td>
				<td width="380">Cox, Dish Network, DirecTV, Clear Channel, J:Com, AOL, Netflix, Comcast, AT&amp;T, Time Warner Cable</td>
				<td width="204">Distribute content via broadcast TV, cable, satellite, broadband, radio, dial-up, and retail stores </td>
			</tr>
			<tr>
				<td>Digital Pure-Plays </td>
				<td width="380">Facebook, Google, Vimeo, The Onion, Yahoo!, Hulu, Reuters, Mashable, The Huffington Post, Foursquare, Pandora, Zynga</td>
				<td width="204">Create, aggregate, and/or distribute content via primarily via the Internet or digital channels </td>
			</tr>
			<tr class="active">
				<th colspan="3">Consumer Packaged Goods (CPG)</th>
			</tr>
			<tr class="info">
				<td>Sub-segment</td>
				<td width="380">Example Companies</td>
				<td width="204">Description</td>
			</tr>
			<tr>
				<td>Beverage </td>
				<td width="380">Coca-Cola, Dr Pepper, Nestle, Miller, Coors, Anheiser Busch, Pepsi</td>
				<td width="204">Carbonated Soft Drinks, Fruit Juice &amp; Functional Beverage, Bottled Water, Beer </td>
			</tr>
			<tr>
				<td>Food </td>
				<td width="380">Nestle, Kraft, Kellogg's, Heinz, General Mills, ConAgra Foods, Frito Lay</td>
				<td width="204">Frozen Food, Snack Food, Canned Fruit &amp; Vegetables, Cereal Production, Cookie, Cracker, &amp; Pasta Production </td>
			</tr>
			<tr>
				<td>Household &amp; Personal Care </td>
				<td width="380">P&amp;G, Unilever, SC Johnson, Clorox, Colgate Palmolive</td>
				<td width="204">Soap &amp; Cleaning Compound Manufacturers, Cosmetic &amp; Beauty Products </td>
			</tr>
			<tr class="active">
				<th colspan="3">Financial Services </th>
				</tr>
			<tr>
				<td>Sub-segment</td>
				<td width="380">Example Companies</td>
				<td width="204">Description</td>
			</tr>
			<tr>
				<td>Retail Banking </td>
				<td width="380">Bank of America, USBank, Capital One, Wells Fargo</td>
				<td width="204">Deposits, Consumer Credit, Mortgage, Credit Cards, Small Business Banking </td>
			</tr>
			<tr>
				<td>Investment/Wealth Management </td>
				<td width="380">Charles Schwab, Fidelity, Northern Trust</td>
				<td width="204">Brokerage, Asset Management, Trust, Wealth Management </td>
			</tr>
			<tr>
				<td>Insurance </td>
				<td width="380">State Farm, Allstate, Aetna</td>
				<td width="204">Property and Casualty, Life, Health </td>
			</tr>
			<tr>
				<td>Wholesale Banking </td>
				<td width="380">BNY Mellon, Morgan Stanley, Goldman Sachs</td>
				<td width="204">Business Banking, Treasury Services, Commercial Banking, Investment Banking </td>
			</tr>
			<tr>
				<td>Other </td>
				<td width="380">Visa, Mastercard, PayPal, LendingTree</td>
				<td width="204">Financial Intermediaries/Services, Firms which hold No Assets, Distribution Channels for Financial Services Firms </td>
			</tr>
			<tr class="active">
				<th colspan="3">B2B High-Tech</th>
			</tr>
			<tr class="info">
				<td>Sub-segment</td>
				<td width="380">Example Companies</td>
				<td width="204">Description</td>
			</tr>
			<tr>
				<td>Computers &amp; Peripherals </td>
				<td width="380">HP, Sony, Dell, Logitech</td>
				<td width="204">Desktops, laptops, monitors, keyboards, mice, printers, speakers, etc. </td>
			</tr>
			<tr>
				<td>Components </td>
				<td width="380">Intel, LG</td>
				<td width="204">Computing components, primarily semiconductors and displays </td>
			</tr>
			<tr>
				<td>Electronic Equipment </td>
				<td width="380">Cisco, IBM, Panasonic, Fujitsu, Hitachi, Alcatel Lucent</td>
				<td width="204">Complex equipment such as servers, networking devices, storage, IP phones, cell phone handsets </td>
			</tr>
			<tr>
				<td>Software </td>
				<td width="380">Microsoft, Siemens, Oracle, Symantec</td>
				<td width="204">Applications, operating systems, middleware, custom software, SaaS, etc. </td>
			</tr>
			<tr>
				<td>Services </td>
				<td width="380">Accenture, Tech Data, IBM, Avnet</td>
				<td width="204">Consulting, data processing/hosting, outsourced functions, distribution </td>
			</tr>
			<tr class="active">
				<th colspan="3">Automotive</th>
				</tr>
			<tr>
				<td>Sub-segment</td>
				<td width="380">Companies</td>
				<td width="204">Description</td>
			</tr>
			<tr>
				<td>Auto Dealers </td>
				<td width="380">Penske, Sonic, Carmax, JM Family Enterprises, AutoNation</td>
				<td width="204">Sells the Automobiles to Customers </td>
			</tr>
			<tr>
				<td>Auto Manufacturers </td>
				<td width="380">GM, Ford, Volkswagon, Toyota, Nissan, BMW, Mercedes, Honda</td>
				<td width="204">Designs, Manufactures, and Finances Auto Purchases </td>
			</tr>
			<tr class="active">
				<th colspan="3">Retail Industry</th>
			</tr>
			<tr>
				<td>Sub-segment</td>
				<td width="380">Example Companies</td>
				<td width="204">Description</td>
			</tr>
			<tr>
				<td>Web Only </td>
				<td width="380">Amazon, Netflix, Newegg</td>
				<td width="204">Digital only or pure play retailers that use only the online sales channel </td>
			</tr>
			<tr>
				<td>TV/Catalog</td>
				<td width="380">LL Bean, CDW, HSN, Amway</td>
				<td width="204">Direct response marketers that offer online or an alternative shopping option </td>
			</tr>
			<tr>
				<td>Brand Manufacturers </td>
				<td width="380">Sony, Apple, HP, Nike, Dell, Lego</td>
				<td width="204">Consumer goods manufacturers that use all sales channels including online </td>
			</tr>
			<tr>
				<td>Bricks &amp; Clicks </td>
				<td width="380">Walmart, Best Buy, Costco</td>
				<td width="204">Traditional retail outlets that offer both physical and online stores </td>
			</tr>
			<tr class="active">
				<th colspan="3">Telecommunications</th>
				</tr>
			<tr>
				<td>Sub-segment</td>
				<td width="380">Example Companies</td>
				<td width="204">Description</td>
			</tr>
			<tr>
				<td>Wireless </td>
				<td width="380">Verizon, AT&amp;T, T Mobile, Sprint</td>
				<td width="204">Cell phones, connected devices </td>
			</tr>
			<tr>
				<td>Wired </td>
				<td width="380">Nevada Bell, Qwest, Bell Atlantic, Hawaiian Telecom, Cox</td>
				<td width="204">Landlines, Long-distance carriers </td>
			</tr>
			<tr>
				<td>Cable, Internet, and Phone </td>
				<td width="380">Cox, Comcast, Mediacom, Charter, Cablevision, AT&amp;T Universe</td>
				<td width="204">Triple/Quad Packages </td>
			</tr>
			<tr>
				<td>Internet Service Providers </td>
				<td width="380">Verizon FiOS, AOL, Time Warner Cable, Clearwire, EarthLink, Xanadoo, Insight Broadband</td>
				<td width="204">Broadband, DSL, etc. </td>
			</tr>
			<tr>
				<td>Voice over Internet Protocol </td>
				<td width="380">Nextiva, Vonage, Paetec, Voip.com, ViaTalk, ITP</td>
				<td width="204">Internet and Home Phone Options </td>
			</tr>
			<tr>
				<td>Telecom Resellers </td>
				<td width="380">Telna, Pioneer Telephone, Virgin Mobile, Cricket, Boost Mobile, Metro PCS, America Movil, OnStar</td>
				<td width="204">Resellers of Frequencies and Services </td>
			</tr>
			<tr>
				<td>Satellite Comms Providers </td>
				<td width="380">DirecTV, Dish Network, Intelsat, Hughes Communications, Globalstar, Sirius</td>
				<td width="204">Satellite TV, Radio, Internet </td>
			</tr>
			<tr class="active">
				<th colspan="3">Travel &amp; Hospitality</th>
			</tr>
			<tr>
				<td>Sub-segment</td>
				<td width="380">Example Companies</td>
				<td width="204">Description</td>
			</tr>
			<tr>
				<td>Airlines </td>
				<td width="380">Lufthansa, Delta, Virgin, United, American</td>
				<td width="204">Traditional and Discount Airlines </td>
			</tr>
			<tr>
				<td>Hotels </td>
				<td width="380">Hyatt, Wyndham, Hilton, Starwood, Accor, Marriott</td>
				<td width="204">Full, Mid-Priced and Budget Hotel Chains </td>
			</tr>
			<tr>
				<td>Casinos </td>
				<td width="380">Sands, Caesars, MGM Grand, The Venetian, Station Casinos, Trump</td>
				<td width="204">Domestic and International Casinos </td>
			</tr>
			<tr>
				<td>Cruise </td>
				<td width="380">Norwegian, Carnival, Royal Carribbean, Disney Cruise Lines</td>
				<td width="204">Domestic and International Cruise Line Companies </td>
			</tr>
			<tr>
				<td>Travel Agents </td>
				<td width="380">TUI, Priceline, Travelocity, Thomas Cook, Orbitz, Expedia, Hotels.com</td>
				<td width="204">Online and Brick-and-Mortar Travel Agency Services </td>
			</tr>
			<tr>
				<td>Car Rental </td>
				<td width="380">Hertz, Enterprise, Avis, Thrifty, Dollar</td>
				<td width="204">Vehicle Rental Agencies and Companies </td>
			</tr>
			<tr>
				<td>Amusement Parks </td>
				<td width="380">Six Flags, Universal, Walt Disney Parks and Resorts</td>
				<td width="204">Theme Parks, Water Parks, and other Amusement Parks </td>
			</tr>
		</table>


	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="close()">Close</button>
	</div>
</div></div>